@use "./variables" as *;

footer {
    border-top: 1px solid $accentColour;
    p{
        text-align: center;
        font-size: .8rem;
    }
    img {
        display: inline-block;
        width: .9em;
    }
}